.pdfViewer {
    width: 100%;
}
.pdfViewer__container {
    height: calc(100vh - 80px);
    background: grey;
    overflow: scroll;
    text-align: center;
    z-index: 100;
}
.pdfViewer__container #content {
    display: none;
}
.pdfViewer__container canvas {
    border: 1px solid black;
}
.pdfViewer__loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdfViewer__block-for-signature {
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    position: absolute;
    background: white;
}
.pdfViewer__btns-panel {
    width: 100%;
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    box-shadow: 0px 0px 10px grey;
}
.pdfViewer__btns-panel button {
    outline: none;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    display: flex;
    z-index: 101;
    justify-content: center;
    align-items: center;
}
